torch==2.4.1
torchvision==0.19.1
diffusers==0.30.0
transformers==4.43.3
optimum-quanto==0.2.4
gradio>=4.0.0
opencv-python
httpx==0.23.3
timm
einops
ftfy
facexlib
insightface
onnxruntime
onnxruntime-gpu
accelerate
SentencePiece
safetensors